[Unit]
Description=Host Signal Processor - Power Controls

[Service]
ExecStart=/usr/local/sbin/hostsignal-powercontrol.sh /opt/signals
Restart=on-failure
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
